<style>
.disabled {
	pointer-events: none;
	color: gray !important;
}
.disabled .green {
	color: gray !important;
}
</style>
<script type="text/javascript">
//<![CDATA[
	function enableShippingAddons() {
		if ($('.shipping-addons').attr('data-disabled') == 'true') {
			$('.shipping-addons').removeClass('disabled').attr('data-disabled', 'false');
		}
	}
    //Add Shipping Addon buttons and click actions
	function addDelSigToCart() {
		$('.del-sig-text').on('click', function () {
		    if (!$('#delSigCheck').hasClass('initialized')) {
			    var chooseShipperForm = $('#CheckoutStepShippingProvider .ExpressCheckoutContent form'), 
			    	newFormSub = 'newChooseShippingProvider(); return false;';
			    chooseShipperForm.attr('onsubmit', newFormSub);
			    $('#delSigCheck').addClass('initialized');
			    $('#delSigCheck').toggleClass('checked');
		    } else {		    
			    $('#delSigCheck').toggleClass('checked');
			}
	    });
	}
	function addInsToCart() {
	    var insDesc = $('.ins-text'),
	    	clickCalc = $('.ins-add-calc'),
	    	newInsText = '-- Insure your full purchase order of <span id="purch-total"></span> for only $<span id="ins-total"></span>',
	    	insTotal,
			insId;
		clickCalc.on('click', function() {
			if (!$('#addInsCheck').attr('data-ins-id')) {
			    var chooseShipperForm = $('#CheckoutStepShippingProvider .ExpressCheckoutContent form'), 
			    	newFormSub = 'newChooseShippingProvider(); return false;';
			    chooseShipperForm.attr('onsubmit', newFormSub);
				insDesc.html(newInsText);
			    $('#purch-total').load('//store-mixi7d.mybigcommerce.com/cart.php .gtotal .ProductPrice', function(){
					$('#purch-total').html($(this).text());
				});
			    $('#addInsCheck').addClass('checked');
			    setTimeout(function(){ 
					var insIdObj = ['691','692','693','694','695','696','697','698','699','700'],
						orderTotal = parseFloat($('#purch-total').text().replace('$','')),
						insIdSelector = Math.floor(orderTotal * 0.01),
						insId = insIdObj[insIdSelector],
						insCost = insIdSelector + 1,
						insTotalText = $('#ins-total');
					$('#addInsCheck').attr('data-ins-id', insId);
					insTotalText.html(insCost);
			    },1000);
			} else {
			    $('#addInsCheck').toggleClass('checked');
			}
		});
	}
	function newChooseShippingProvider() {
	    if ($('.ShippingProviderList .radio span').hasClass('checked')) {
			if ($('#delSigCheck').hasClass('checked') && $('#addInsCheck').hasClass('checked')) {
			    var insId = $('#addInsCheck').attr('data-ins-id');
		        $.post('/cart.php?action=add&product_id=690');
			    setTimeout(function() {
				    $.post('/cart.php?action=add&product_id=' + insId);
				    setTimeout(function() {
					    ExpressCheckout.ChooseShippingProvider();
					}, 1000);
				}, 1000);
			} else if (!$('#delSigCheck').hasClass('checked') && !$('#addInsCheck').hasClass('checked')) {
			    ExpressCheckout.ChooseShippingProvider();
			} else if ($('#delSigCheck').hasClass('checked') && !$('#addInsCheck').hasClass('checked')) {
		        $.post('/cart.php?action=add&product_id=690');
			    setTimeout(function() {
				    ExpressCheckout.ChooseShippingProvider();
				}, 1000);
			} else if (!$('#delSigCheck').hasClass('checked') && $('#addInsCheck').hasClass('checked')) {
			    var insId = $('#addInsCheck').attr('data-ins-id');
			    $.post('/cart.php?action=add&product_id=' + insId);
			    setTimeout(function() {
				    ExpressCheckout.ChooseShippingProvider();
				}, 1000);
			}
	    } else {
		    ExpressCheckout.ChooseShippingProvider();
	    }
	}
//]]>
</script>
