<style>
.disabled {
	pointer-events: none;
	color: gray !important;
}
.disabled .green {
	color: gray !important;
}
.best-value {
	margin: 0;
	padding: 5px 0;
	background-color: #fafafa;
	border-radius: 4px;
}
.best-value:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f164";
	position: absolute;
	left: 10px;
	font-size: 19px;
	color: #39b54a;
}
.best-value label {
	margin: 0;
}
.best-value-text {
	color:#39b54a;
	text-transform: uppercase;
}
.ShippingProviderList span.lightgray {
	font-size: 12px;
}
</style>
<script type="text/javascript">
//<![CDATA[
	function enableShippingAddons() {
		if ($('.shipping-addons').attr('data-disabled') == 'true') {
			$('.shipping-addons').removeClass('disabled').attr('data-disabled', 'false');
		    var insDesc = $('.ins-text'),
		    	clickCalc = $('.ins-add-calc'),
		    	newInsText = ' -- Insure your order <span style="display:none;">of <span id="purch-total"></span></span> for only $<span id="ins-total"><i class="green fa fa-spinner fa-pulse fa-fw"></i></span>',
		    	insTotal,
				insId,
			    chooseShipperForm = $('#CheckoutStepShippingProvider .ExpressCheckoutContent form'), 
			    newFormSub = 'newChooseShippingProvider(); return false;';
		    chooseShipperForm.attr('onsubmit', newFormSub);
			insDesc.html(newInsText);
		    $('#purch-total').load('/cart.php .gtotal .ProductPrice', function(){
				$('#purch-total').html($(this).text());
				var insIdObj = ['1281','1282','1283','1284','1285','1286','1287','1288','1289','1290','1291','1292','1293','1294','1295','1296','1297','1298','1299','1300'],
					orderTotal = parseFloat($('#purch-total').text().replace('$','')),
					insIdSelector = Math.floor(orderTotal * 0.01),
					insId = insIdObj[insIdSelector],
					insCost = insIdSelector + 1,
					insTotalText = $('#ins-total');
				$('#addInsCheck').attr('data-ins-id', insId);
				insTotalText.html(insCost);
			});
		}
	}
    //Add Shipping Addon buttons and click actions
	function addDelSigToCart() {
	    $('#delSigCheck').toggleClass('checked');
	}
	function addInsToCart() {
	    $('#addInsCheck').toggleClass('checked');
	}
	function newChooseShippingProvider() {
	    if ($('.ShippingProviderList .radio span').hasClass('checked')) {
		    var addInsCheck = $('#addInsCheck').hasClass('checked');
		    var delSigCheck = $('#delSigCheck').hasClass('checked');
		    var insId = $('#addInsCheck').attr('data-ins-id');
		    var addDelSigUrl = 'https://dankstop.com/cart.php?action=add&product_id=1280';
		    var addInsUrl = 'https://dankstop.com/cart.php?action=add&product_id=' + insId;
			if (delSigCheck && addInsCheck) {
				$.post(addDelSigUrl).then(function(data1) {
					return $.post(addInsUrl);
				}).then(function(data2) {
					return setTimeout(function () {ExpressCheckout.ChooseShippingProvider();}, 13);
				});
			} else if (!delSigCheck && !addInsCheck) {
			    ExpressCheckout.ChooseShippingProvider();
			} else if (delSigCheck && !addInsCheck) {
				$.post(addDelSigUrl).then(function(data1) {
					return ExpressCheckout.ChooseShippingProvider();
				});
			} else if (!delSigCheck && addInsCheck) {
				$.post(addInsUrl).then(function(data1) {
					return ExpressCheckout.ChooseShippingProvider();
				});
			}
	    } else {
		    ExpressCheckout.ChooseShippingProvider();
	    }
	}
//]]>
</script>
